In [16]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import seaborn as sns

# A physician is evaluating a new diet for her patients with a family history of heart disease. To test the effectiveness of this diet, 16 patients are placed on the diet for 6 months. Their weights and triglyceride levels are measured before and after the study, and the physician wants to know if either set of measurements has changed. (Data set: dietstudy.csv)

In [70]:
dietstudyDF = pd.read_csv('C:/Users/Advance Case Study/7. Basic Stats - Case Study-1/dietstudy.csv')

In [71]:
dietstudyDF.head()

   patid  age  gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0      1   45    Male  180  148  106  113  100   198   196   193   188   192
1      2   56    Male  139   94  119   75   92   237   233   232   228   225
2      3   50    Male  152  185   86  149  118   233   231   229   228   226
3      4   46  Female  112  145  136  149   82   179   181   177   174   172
4      5   64    Male  156  104  157   79   97   219   217   215   213   214

In [10]:
tg0 = dietstudyDF.tg0.mean()
tg4 = dietstudyDF.tg0.mean()
wgt0 = dietstudyDF.wgt0.mean()
wgt4 = dietstudyDF.wgt4.mean()

In [11]:
print( 'Mean tg0: ', tg0,
            '| Mean tg4: ', tg4,
                 '| Mean wgt0: ', wgt0,
                     '| Mean wgt4: ', wgt4)

Mean tg0:  138.4375 | Mean tg4:  138.4375 | Mean wgt0:  198.375 | Mean wgt4:  190.3125

Ho: No change in the average weights and triglyceride levels    mean before <= mean after
Ha: There is increase in the weights and triglyceride levels    mean after >  mean before
    
CI: 95%, p: 0.05
Test: relational t-test

# t-paired Test

In [18]:
t_paired_tg, p_paired_tg = stats.ttest_rel( dietstudyDF.tg0, dietstudyDF.tg4 )
t_paired_wgt, p_paired_wgt = stats.ttest_rel( dietstudyDF.wgt0, dietstudyDF.wgt4 )

In [19]:
t_paired_tg, p_paired_tg

(1.2000008533342437, 0.24874946576903698)

In [20]:
t_paired_wgt, p_paired_wgt

(11.174521688532522, 1.137689414996614e-08)

In [13]:
stats.ttest_rel( dietstudyDF.wgt0, dietstudyDF.wgt4 )

Ttest_relResult(statistic=11.174521688532522, pvalue=1.137689414996614e-08)

# t-independent Test

In [15]:
t_tg, p_tg = stats.ttest_ind(dietstudyDF.tg4,dietstudyDF.tg0)
t_wgt, p_wgt = stats.ttest_ind(dietstudyDF.wgt4,dietstudyDF.wgt0)

In [16]:
t_tg, p_tg

(-1.3609130965167047, 0.18367767727201867)

In [17]:
t_wgt, p_wgt

(-0.680927641687395, 0.5011397024272322)

In [24]:
stats.f_oneway(dietstudyDF.tg4,dietstudyDF.tg0)

F_onewayResult(statistic=1.8520844562706855, pvalue=0.18367767727201867)

# An analyst at a department store wants to evaluate a recent credit card promotion. To this end, 500 cardholders were randomly selected. Half received an ad promoting a reduced interest rate on purchases made over the next three months, and half received a standard seasonal ad. Is the promotion effective to increase sales? (Data set: creditpromo.csv)

In [26]:
creditpromoDF = pd.read_csv('C:/Users/kanika2/12AprilBatch/Advance Case Study/7. Basic Stats - Case Study-1/creditpromo.csv')

In [27]:
creditpromoDF.head()

     id         insert      dollars
0   148       Standard  2232.771979
1   572  New Promotion  1403.807542
2   973       Standard  2327.092181
3  1096       Standard  1280.030541
4  1541  New Promotion  1513.563200

In [63]:
var = 'dollars'

standard =  creditpromoDF.loc[creditpromoDF['insert'] == 'Standard', var ]
promotion = creditpromoDF.loc[creditpromoDF['insert'] == 'New Promotion', var ]

print( 'standard avg: ', round(standard.mean(), 2), 
          ' | promotion avg: ', round(promotion.mean(), 2))

print( 'standard var: ', round(standard.var(), 2), 
          ' | promotion var: ', round(promotion.var(), 2))

standard avg:  1566.39  | promotion avg:  1637.5
standard var:  120182.2  | promotion var:  127237.15

Ho: No variance in the spend of different gender
Ha: Customers of different gender spend differently
    
CI: 95%, p: 0.05
        
Test: t-test (independent sample) or f-test

In [64]:
stats.ttest_ind( standard, promotion )

Ttest_indResult(statistic=-2.2604227264649963, pvalue=0.024225996894147814)

In [65]:
stats.f_oneway(standard, promotion )

F_onewayResult(statistic=5.1095109023194745, pvalue=0.024225996894148064)

# An experiment is conducted to study the hybrid seed production of bottle gourd under open field conditions. The main aim of the investigation is to compare natural pollination and hand pollination. The data are collected on 10 randomly selected plants from each of natural pollination and hand pollination. The data are collected on fruit weight (kg), seed yield/plant (g) and seedling length (cm). (Data set: pollination.csv) a. Is the overall population of Seed yield/plant (g) equals to 200? b. Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different.

In [3]:
pollinationDF = pd.read_csv('C:/Users/Advance Case Study/7. Basic Stats - Case Study-1/pollination.csv')

In [4]:
pollinationDF.head()

     Group  Fruit_Wt  Seed_Yield_Plant  Seedling_length
0  Natural      1.85            147.70            16.86
1  Natural      1.86            136.86            16.77
2  Natural      1.83            149.97            16.35
3  Natural      1.89            172.33            18.26
4  Natural      1.80            144.46            17.90

#####  a. Is the overall population of Seed yield/plant (g) equals to 200?

In [13]:
pollinationDF.shape

(20, 4)

In [12]:
pollinationDF['Seed_Yield_Plant'].mean()

180.8035

Ho: mean = 200
Ha: mean != 200
    
CI: 95%, p: 0.05
        
Test: 1 - sample t test

In [26]:
stats.ttest_1samp(pollinationDF['Seed_Yield_Plant'], 50)

Ttest_1sampResult(statistic=15.678241300416927, pvalue=2.5220805286180355e-12)

In [ ]:
p value is very less so we are rejecting null hypothesis.

##### b. Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different

In [5]:
pollinationDF['Group'].unique()

array(['Natural', 'Hand'], dtype=object)

In [11]:
naturalPollinationDF = pollinationDF[pollinationDF['Group']=='Natural']
handPollinationDF = pollinationDF[pollinationDF['Group']=='Hand']

# An electronics firm is developing a new DVD player in response to customer requests. Using a prototype, the marketing team has collected focus data for different age groups viz. Under 25; 25-34; 35-44; 45-54; 55-64; 65 and above. Do you think that consumers of various ages rated the design differently? (Data set: dvdplayer.csv).

In [7]:
dvdplayerDF = pd.read_csv('C:/Users/Advance Case Study/7. Basic Stats - Case Study-1/dvdplayer.csv')

In [35]:
dvdplayerDF.head()

      agegroup   dvdscore
0  65 and over  38.454803
1        55-64  17.669677
2  65 and over  31.704307
3  65 and over  25.924460
4     Under 25  30.450007

In [36]:
dvdplayerDF['agegroup'].unique()

array(['65 and over', '55-64', 'Under 25', '25-34', '45-54', '35-44'],
      dtype=object)

In [31]:
s1 = dvdplayerDF.loc[ dvdplayerDF.agegroup == '25-34', 'dvdscore']
s2 = dvdplayerDF.loc[ dvdplayerDF.agegroup == '35-44', 'dvdscore']
s3 = dvdplayerDF.loc[ dvdplayerDF.agegroup == '45-54', 'dvdscore']
s4 = dvdplayerDF.loc[ dvdplayerDF.agegroup == '65 and over', 'dvdscore']
s5 = dvdplayerDF.loc[ dvdplayerDF.agegroup == 'Under 25', 'dvdscore']

In [32]:
print( 'mean s1:', round(s1.mean(), 2), 
          '| mean s2:', round(s2.mean(), 2), 
              '| mean s3:', round(s3.mean(), 2),
                 '| mean s4:', round(s4.mean(), 2), 
                      '| mean s5:', round(s5.mean(), 2))

mean s1: 31.68 | mean s2: 37.02 | mean s3: 39.12 | mean s4: 28.0 | mean s5: 28.75

In [33]:
print( 'var s1:', round(s1.var(), 2), 
          '| var s2:', round(s2.var(), 2), 
              '| var s3:', round(s3.var(), 2),
                 '| var s4:', round(s4.var(), 2),
                     '| var s5:', round(s5.var(), 2))

var s1: 34.08 | var s2: 63.78 | var s3: 41.38 | var s4: 27.72 | var s5: 26.98

In [ ]:
Ho: No variance in consumers of various ages rated the design differently
Ha: consumers of various ages rated the design differently 
    
CI: 95%, p: 0.05
        
Test: f-test

In [37]:
stats.f_oneway(s1, s2, s3, s4, s5)

F_onewayResult(statistic=8.052067513385818, pvalue=3.22532865708216e-05)

In [ ]:
pValue is very less so we are rejecting the null Hypothesis.

# A survey was conducted among 2800 customers on several demographic characteristics. Working status, sex, age, age-group, race, happiness, no. of child, marital status, educational qualifications, income group etc. had been captured for that purpose. (Data set: sample_survey.csv).

In [38]:
sample_surveyDF =  pd.read_csv('C:/Users/Advance Case Study/7. Basic Stats - Case Study-1/sample_survey.csv')

In [14]:
sample_surveyDF.head(2)

,id,wrkstat,marital,childs,age,educ,paeduc,maeduc,speduc,degree,...,agecat,childcat,news1,news2,news3,news4,news5,car1,car2,car3
0,1,Working full time,Divorced,2.0,60.0,12.0,12.0,12.0,NaN,High school,...,55 to 64,1-2,No,No,No,No,No,American,Japanese,Japanese
1,2,Working part-time,Never married,0.0,27.0,17.0,20.0,NaN,NaN,Junior college,...,25 to 34,None,No,No,Yes,No,No,American,German,Japanese

In [41]:
sample_surveyDF['wrkstat'].isnull().sum()

1

In [42]:
sample_surveyDF.loc[sample_surveyDF['wrkstat'].isnull()]

,id,wrkstat,marital,childs,age,educ,paeduc,maeduc,speduc,degree,...,agecat,childcat,news1,news2,news3,news4,news5,car1,car2,car3
477,478,NaN,Married,0.0,34.0,16.0,NaN,NaN,12.0,Bachelor,...,25 to 34,None,No,No,No,No,No,German,NaN,NaN

In [44]:
sample_surveyDF.columns

Index(['id', 'wrkstat', 'marital', 'childs', 'age', 'educ', 'paeduc', 'maeduc',
       'speduc', 'degree', 'sex', 'race', 'born', 'parborn', 'granborn',
       'income', 'rincome', 'polviews', 'cappun', 'postlife', 'happy',
       'hapmar', 'owngun', 'news', 'tvhours', 'howpaid', 'ethnic', 'eth1',
       'eth2', 'eth3', 'confinan', 'conbus', 'coneduc', 'conpress', 'conmedic',
       'contv', 'agecat', 'childcat', 'news1', 'news2', 'news3', 'news4',
       'news5', 'car1', 'car2', 'car3'],
      dtype='object')

In [57]:
def getCHiSquareResult(x,y):
    print('Frequency Table ')
    obs = pd.crosstab( x , y )
    print(obs)
    print('-------------------------------------------------')
    print('Result of Test ')
    print('-------------------------------------------------')
    chi2Square,pVal,dof,expected = stats.chi2_contingency( obs )
    print('chi2Square Result ', chi2Square)
    print('P Value ', pVal)
    print('Degree Of Freedom ', dof)

In [46]:
sample_surveyDF['degree'].unique()

array(['High school', 'Junior college', 'Bachelor', 'LT High school',
       'Graduate', nan], dtype=object)

In [40]:
sample_surveyDF['wrkstat'].unique()

array(['Working full time', 'Working part-time', 'Unemployed, laid off',
       'Keeping house', 'Retired', 'School', 'Other',
       'Temporarily not working', nan], dtype=object)

In [47]:
sample_surveyDF['marital'].unique()

array(['Divorced', 'Never married', 'Married', 'Separated', 'Widowed',
       nan], dtype=object)

a. Is there any relationship in between labour force status with marital status?

In [ ]:
Ho: No relationship | Both are independent
Ha: Dependent | have relationship
    
CI: 95%, p: 0.05
        
Test: chisquare

In [ ]:
sample_surveyDF['degree']

In [ ]:
obs = pd.crosstab( cust.region, cust.segment )
stats.chi2_contingency( obs )

In [58]:
getCHiSquareResult( sample_surveyDF.wrkstat , sample_surveyDF.marital)

Frequency Table
marital                  Divorced  Married  Never married  Separated  Widowed
wrkstat
Keeping house                  25      200             35         13       55
Other                          12       16             14          4        8
Retired                        53      168             17          6      150
School                          7        9             60          2        1
Temporarily not working         9       23             11          1        2
Unemployed, laid off           10       13             32          0        3
Working full time             295      778            392         58       44
Working part-time              35      138            102          9       20
-------------------------------------------------
Result of Test
-------------------------------------------------
chi2Square Result  729.2421426572284
P Value  1.4875268409067568e-135
Degree Of Freedom  28

PValue is very less so we are rejecting the null hypothesis, means no relation in between labour force status with marital status

b. Do you think educational qualification is somehow controlling the marital status?

In [60]:
getCHiSquareResult( sample_surveyDF.marital, sample_surveyDF.degree )

Frequency Table
degree         Bachelor  Graduate  High school  Junior college  LT High school
marital
Divorced             58        29          241              45              70
Married             251       123          686             108             174
Never married       129        41          367              46              77
Separated            12         3           58               3              17
Widowed              28         9          148               6              92
-------------------------------------------------
Result of Test
-------------------------------------------------
chi2Square Result  122.68449020508541
P Value  1.6707923432360119e-18
Degree Of Freedom  16

c. Is happiness is driven by earnings or marital status?

In [ ]:
Ho: No relationship in happiness is driven by earnings or marital status
Ha: happiness is driven by earnings or marital status
    
CI: 95%, p: 0.05
        
Test: chisquare

In [64]:
sample_surveyDF['happy'].head()

0    Pretty happy
1    Pretty happy
2      Very happy
3      Very happy
4    Pretty happy
Name: happy, dtype: object

Ho: No relationship in happiness is driven by marital status
Ha: happiness is driven by marital status
    
CI: 95%, p: 0.05
        
Test: chisquare

In [65]:
getCHiSquareResult( sample_surveyDF.marital, sample_surveyDF.happy )

Frequency Table
happy          Not too happy  Pretty happy  Very happy
marital
Divorced                  72           278          93
Married                   71           684         582
Never married            108           426         120
Separated                 30            49          13
Widowed                   59           137          83
-------------------------------------------------
Result of Test
-------------------------------------------------
chi2Square Result  260.6894389418282
P Value  9.3147261197964e-52
Degree Of Freedom  8

P-Value of result is very less so we are rejecting the null hypothesis and we can say No relationship in happiness is driven by marital status

In [68]:
sample_surveyDF['income'].unique()

array(['$25000 or more', '$15000 - 19999', '$20000 - 24999', nan,
       '$10000 - 14999', 'LT $1000', '$8000 TO 9999', '$7000 TO 7999',
       '$6000 TO 6999', '$3000 TO 3999', '$5000 TO 5999', '$1000 TO 2999',
       '$4000 TO 4999'], dtype=object)

In [ ]:
Ho: No relationship in happiness is driven by earnings
Ha: happiness is driven by earnings 
    
CI: 95%, p: 0.05
        
Test: chisquare

In [66]:
getCHiSquareResult( sample_surveyDF.income, sample_surveyDF.happy )

Frequency Table
happy           Not too happy  Pretty happy  Very happy
income
$1000 TO 2999               7            20           5
$10000 - 14999             39           107          44
$15000 - 19999             33           119          26
$20000 - 24999             40           155          50
$25000 or more            113           888         571
$3000 TO 3999               9            11           4
$4000 TO 4999               9            13          10
$5000 TO 5999               6            18          11
$6000 TO 6999              14            13           6
$7000 TO 7999              12            21          14
$8000 TO 9999               9            30          19
LT $1000                   11            13          11
-------------------------------------------------
Result of Test
-------------------------------------------------
chi2Square Result  178.9505306121643
P Value  1.4107677273473057e-26
Degree Of Freedom  22

P-Value of result is very less so we are rejecting the null hypothesis and we can say No relationship in happiness is driven by income