# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset *chipotle.tsv*

In [4]:
chipo = pd.read_csv("Exercise Data Files/Pandas Exercise Filtering Sorting Files/chipotle.tsv",sep="\t")

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [6]:
chipo['item_price'] = chipo['item_price'].str.replace('$','').astype('Float16')

In [29]:
chipo[chipo['item_price']>10].head()

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.984375
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.976562
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.750000
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.250000
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.976562

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

###### Solution1

In [18]:
chipo[['item_name','item_price']].head(2)

                      item_name item_price
0  Chips and Fresh Tomato Salsa     $2.39
1                          Izze     $3.39

###### Solution2

In [19]:
columnName = ['item_name','item_price']
chipo[columnName].head(2)

                      item_name item_price
0  Chips and Fresh Tomato Salsa     $2.39
1                          Izze     $3.39

###### Solution3

In [31]:
chipo.loc[:,['item_name','item_price']].head(2)

                      item_name item_price
0  Chips and Fresh Tomato Salsa     $2.39
1                          Izze     $3.39

### Step 6. Sort by the name of the item

In [101]:
chipo.sort_values('item_name').head()

      order_id  quantity          item_name choice_description item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]    $12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1849       749         1  6 Pack Soft Drink             [Coke]     $6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]     $6.49
2713      1076         1  6 Pack Soft Drink             [Coke]     $6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [17]:
chipoExpensiveQuantity = chipo.sort_values(['item_price'],ascending=False)

In [19]:
chipoExpensiveQuantity.head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [21]:
chipoExpensiveQuantity['quantity'].head(1)

3598    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [59]:
chipoExpensiveQuantity[chipoExpensiveQuantity['item_name'] == 'Veggie Salad Bowl'].loc[:,'order_id'].count()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [49]:
(chipoExpensiveQuantity[chipoExpensiveQuantity['item_name'] == 'Canned Soda'].loc[:,'order_id']>1).count()

104