# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [1]:
import pandas as pd

### Step 2. Run the below line of code to create a dictionary

In [1]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [3]:
raw_data

{'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'type': ['grass', 'fire', 'water', 'bug'],
 'hp': [45, 39, 44, 45],
 'pokedex': ['yes', 'no', 'yes', 'no']}

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [11]:
pokemon = pd.Series(raw_data)

In [12]:
type(pokemon)

pandas.core.series.Series

### Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [15]:
pokemon = pd.Series(raw_data,['name','type','hp','evolution','pokedex'])

In [16]:
pokemon

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
pokedex                               [yes, no, yes, no]
dtype: object

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [32]:
raw_data['place']=['lakes','parks','hills','none']

In [33]:
raw_data

{'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'type': ['grass', 'fire', 'water', 'bug'],
 'hp': [45, 39, 44, 45],
 'pokedex': ['yes', 'no', 'yes', 'no'],
 'place': ['lakes', 'parks', 'hills', 'none']}

### Step 6. Display the data type of each column

In [38]:
raw_dateDT= pd.DataFrame(raw_data)

In [43]:
raw_dateDT.dtypes

name         object
evolution    object
type         object
hp            int64
pokedex      object
place        object
dtype: object